.menu_button {
  border: 2px solid orange;
  border-radius: 8px;
  width: 150px;
  height: 100px;
  vertical-align:top;
}

.div_menu_button {
  padding: 10px;
  display: inline-block;
}

.accordion {
  background-color: #252525;
  /*color: orange;*/
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  text-align: center;
  outline: none;
  /*font-size: 15px;*/
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #353535;
}

.accordion:after {
  content: '\002B';
  font-size: 500%;
  color: orange;
  font-weight: bold;
  float: right;
  position: absolute;
  top: -70px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #505050;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*body {
  background-color: #505050;
}*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%;
  left: 2.5%;
  /* 25% from the top */
  width: 95%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 15px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay span {
  text-decoration: none;
  font-size: 36px;
  color: Orange;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay span:hover,
.overlay span:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}