:root{
  --orange: orange;
  --greybg: #414141;
  --greybtn: #252525;
  --greyacrdn: #353535;
  --font:   Arial, Helvetica, sans-serif;
}

.menu_button {
  border: 5px solid var(--orange);
  border-radius: 20px;
  width: 150px;
  height: 100px;
  background-color: #252525;
  vertical-align:top;
}

.div_menu_button {
  padding: 5px;
  display: inline-block;
  overflow: clip;
  
}

a {
  font-style: normal;
  color: var(--orange);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--orange);
  transform: translateY(-17px);
}

.accordion {
  background-color: var(--greybtn);
  color: var(--orange);
  padding: 15px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  height: 75px;
}

.active,
.accordion:hover {
  background-color: var(--greyacrdn);
}

.accordion:after {
  content: '\002B';
  font-size: 250%;
  color: var(--orange);
  font-weight: bold;
  float: right;
  transform: translateY(-75px);
}

.active:after {
  content: "\2212";
  color: whitesmoke;
}

.panel {
  padding: 0 18px;
  background-color: var(--greybg);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

body {
  background-color: var(--greybg);
  font-family: var(--font);
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%;
  left: 2.5%;
  /* 25% from the top */
  width: 95%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 40px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay span {
  text-decoration: none;
  font-size: 36px;
  color: var(--orange);
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}


/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}